			body {
				margin: 0;
				padding: 0;
				background-image: url(../assets/img/fondo-insta.jpg);
			}

			.row:after,
			.hitbox:after {
				content: "";
				display: table;
				clear: both;
			}

			[class^="col-"] {
				display: block-block;
			}

			.hitbox {
				position: relative;
			}

			.hitbox:before {
				display: block;
				content: "";
				padding-top: 100%;
			}

			.dropzone {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: 100% auto;
				background-repeat: no-repeat;
				background-position: center;
			}


			.dropzone:not(.container) .icon {
				width: 100%;
				height: 100%;
				margin: 0;
			}

.img-photobooth{
	width: 100%;
}
.padding-fotos{
	padding: 20px;
	padding-left: 0px;
	background-color: whitesmoke;
}
.padding-galeria{
	padding: 40px;
}
.fa , p{
	color: white;
}

header{
	background-color: black;
}

img {
    width: 121px;
    padding-bottom: 2px;
}

footer {
    bottom: 0;
    position: absolute;	
	padding-top: 7px;
	height: 40px;
	width: 100%;
	background-color: black;
	color:white;
}


.col-quarter {
    width: 30%;
    border:1px solid white;
    display: inline-block;
}